
&pinctrl {
	sci0_default: sci0_default {
		group1 {
			/* tx rx */
			psels = <RA_PSEL(RA_PSEL_SCI_0, 6, 9)>,
			<RA_PSEL(RA_PSEL_SCI_0, 6, 10)>;
		};
	};
};

/ {
	chosen {
		zephyr,bt-hci = &bt_hci_uart;
	};
};

&uart9 {
    current-speed = <1000000>;
};

&ioporta{
    status = "okay";
};

&sci0 {
    pinctrl-0 = <&sci0_default>;
    pinctrl-names = "default";
    status = "okay";
    uart0: uart {
        current-speed = <115200>;
        status = "okay";

        bt_hci_uart: bt_hci_uart {
            compatible = "zephyr,bt-hci-uart";
            status = "okay";

            da1453x {
                compatible = "renesas,bt-hci-da1453x";
                reset-gpios = <&ioporta 8 GPIO_ACTIVE_LOW>;
                status = "okay";
            };
        };
    };
};